
/*共通css*/

    :root {
    --font-serif: 'Cormorant Garamond', serif;
    --font-sans: 'Noto Sans JP', sans-serif;
    --color: hsl(0, 0%, 0%);
    --border: #A1A1A1;
    --max-w: 860px;
    --pad: 40px;
    }

    *, *::before, *::after { 
        margin: 0; 
        padding: 0; 
        box-sizing: 
        border-box; 
    }
    html { 
        scroll-behavior: smooth; 
    }
    body { 
        color: var(--color); 
        overflow-x: hidden; 
    }
    img { 
        display: block; max-width: 100%; 
    }
    a { 
        color: inherit; 
        text-decoration: none; 
    }
    ul { 
        list-style: none; 
        font-size: 16px;
    }


    .inner { 
        max-width: var(--max-w); 
        margin: 0 auto; 
        padding: 0 var(--pad); 
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 32px;
    }

    /*ヘッダー*/

    header {
        position: fixed;
        inset: 0 0 auto;
        height: 160px;
        background: #fff;
        border-bottom: 1px solid var(--border);
        z-index: 100;
    }
    .logo {
        /*ロゴ画像*/
        width: 120px; 
        height: 36px; 
    }
    .instagram { 
        /*インスタグラムアイコン*/
        width: 20px;
        height: 20px; 
    }
    header .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    nav ul { 
        display: flex; 
        align-items: center; 
        gap: 32px; 
    }
    .profile-img { 
        /*プロファイル画像*/
        background-image: url(img/mainvisual-pc.png);
        margin-top: 160px; 
        height: 320px; 
        max-height: 580px; 
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .profile-img img { 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    section:not(.profile-img) { 
        padding: 64px 0; 
    }


    /*アバウト*/

    .about-body { 
        display: flex; 
        gap: 24px; 
        align-items: center; 
    }
    .about-body > img { 
        width: 160px; 
        height: 160px; 
        border-radius: 50%; 
        object-fit: cover; 
        flex-shrink: 0; 
        margin-left: 0px;
    }
    .about-body h3 { 
        font-size: 18px; 
        font-weight: 400; 
        margin-bottom: 24px; 
    }
    .about-body ul { 
        margin-bottom: 24px;
        font-weight: 400; 
    }
    .about-body li { 
        font-size: 13px; 
        color:#000000; 
        margin-bottom: 4px;
    }
    .about-body p  { 
        font-size: 13px; 
        font-weight: 400; 
        color: #000000;
        line-height: 1.4;
        
    }


    /*ワークス*/
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    .grid img { 
        width: 258px;
        height: 158px; 
        object-fit: cover; 
        width: 100%; 
    }

    /*ニュース*/
    .news ul{
        border-top: 1px solid var(--border);
    }
    .news li{
        display: flex;
        gap: 42px;
        padding: 16px 16px;
        border-bottom: 1px solid var(--border);
        font-size: 13px;
    }
    .news span { 
        white-space: nowrap; 
        min-width: 88px; 
    }

    /*コンタクト*/
    form { 
        margin: 0 auto; 
        width: fit-content;
    }
    form > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0;
    }
    input {
        width: 638px;
        height: 47px;
        /*margin: 0 0 0 auto;*/
        border: 1px solid var(--border);
        border-radius: 0;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        background: #fff;
        padding: 0 16px;
    }
    .contact label{
        text-align: right;
        min-width: 80px;
        margin: 0 26px 0 0;   
        
    }

    button {
        display: block;
        margin: 16px auto 0;
        width: 160px;
        height: 33px;
        background-color: #393E46;
        color: #fff;
        border: none;
        font: 300 13px/1 var(--font-sans);
        cursor: pointer;
        text-align: center;
    }
    /*フッター*/
    footer {
        background: #393E46;
        color: #fff;
        text-align: center;
        padding: 8px;
        font-family: Arial;
        letter-spacing: 0.05em;
        margin-top: 128px;
        font-size: 13px;
        font-weight: 400;
    }



/* 768px — タブレット */
@media (max-width: 768px) {

  header {
    height: 120px;
  }

  .profile-img {
    margin-top: 120px;
    height: 260px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    width: 100%;
    max-width: 480px;
  }

  form {
    width: 100%;
  }
}




/* Responsive — 480px　ー　スマホ */
@media (max-width: 480px) {
    :root { --pad: 16px; }
    nav ul { gap: 14px; }
    nav a { font-size: 11px; }

    header {
        height: 192px;
        padding: 62px 0;
        position: static;
    }
    .instagram { 
        display: none;
    }

    .profile-img {
        background-image: url(img/mainvisual-sp.png);
        width: 100%;
        height:  640px;
        margin-top: 0;
    }
    header .inner {
        flex-direction: column;
        gap: 12px;
    }
    nav ul{
        gap: 16px;
        justify-content: center;
        letter-spacing: 0em;
    }
    
    h2 { 
        font-size: 24px; 
        margin-bottom: 32px; 
    }
    .about-body { 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        /*margin-top: 64px;*/
    }
    .about-body img { 
        display: none; 
    }
    .about-body h3 { 
        text-align: left; 
    }
    .about-body li { 
        text-align: left; 
    }
    .about-body p { 
        text-align: left; 
    }
    .grid { 
        grid-template-columns: 1fr;
    }
    .grid img { 
        width: 444px;
        height: 254.17px;
    }
    .news li { 
        flex-direction: 
        column; gap: 32px; 
    }

    form {
        width: 100%; 

    }
    form > div { 
        flex-direction: row;
        align-items: center;
        gap: 6px;  
        height: auto; 
        /*margin-bottom: 16px;*/

    }
    label { 
        min-width: auto; 
    }
    input { 
        width: 100%; 
        max-width: 368px;
    }
    footer {
        margin-top: 0px;
    }
}